<div style="padding:10px 20px 20px 20px;">
	<style>
		.dc { color:black; font-weight:bold;}
	</style>
	<p><span class="dc">DegreeCouncil.org</span> provides breaking news and reference material to help prospective students make solid decisions in this difficult economy. A thoughtful person – whether a fresh high school graduate, a first-time college student, or a mid-career professional – cannot jump into a degree program without being informed about current job demand, and job demand in the foreseeable future. According to the US Bureau of Labor Statistics (BLS), college graduates earn an average of 40% more money than those without a college education. Perhaps more startling is that people without a college degree are twice as likely to be unemployed than those with a college degree.</p>

<p><span class="dc">DegreeCouncil.org</span>, featuring “Answer Center” and daily updated career and degree news, empowers first-time students or those in mid-career, to make informed decisions that will lead to future job security, and hopefully, a successful, balanced life.</p>

<p>Furthermore, <span class="dc">DegreeCouncil.org</span> works directly with online colleges and universities and “on campus” schools, to ensure that all study programs and information are up-to-date – and that prospects who fill out the request for information will usually find out within 24 hours which schools and programs are just right for their schedules. Real school advisors will call prospective students and walk them through the whole process.</p>

<p>If you don’t find the answers you’re looking for on <span class="dc">DegreeCouncil.org</span>, please contact us at contact@sandhilldigital.com and we’ll have one of our team members get all your questions answered by email or phone (whichever you prefer).</p>

<p>Request Information <%= mail_to("info@sandhilldigital.com","Now",:subject => "information Request") %>, or <%= link_to("Browse","http://degreecouncil.org") %> the site to find your area of interest, or plug a keyword into our search box to quickly present relevant articles.</p>
</div>