<div data-role="footer" data-theme="c" id="footer">
	<a data-rel="dialog" data-ajax="true" data-transition="pop" href="#aboutUs">About</a>
	<a data-rel="dialog" data-ajax="true" data-transition="pop" href="#contactUs">Contact</a>
	<a data-rel="dialog" data-ajax="true" data-transition="pop" href="#privacyPolicy">Privacy Policy</a>
</div>