<style>
.attribution {padding-left:40px; margin-bottom:30px;}
div.everest_disclaimer {
	font-size: 11px;
	font-style:italic;
}
</style>

<div id="left_column_wrapper">
	<!--
	<h1>Looking for a college in <%= session[:city] %>, <%= session[:state] %> </h1>	
	-->				
	<p style="margin-top:20px;">Think you’re too busy to go back to school? An online degree can be the answer to fitting college into that busy schedule. Or maybe you already have some college classes? Great! Finish what you started with an online education.</p>
	<p>People who go back to school for degrees are people just like you. In some cases, they needed more education to get a better salary … or to get promoted … or to switch careers altogether. The obvious benefit of getting an ONLINE DEGREE is that you don’t have to quit your current job while you’re getting your degree. Even if you already have a full-time job or you’re a busy parent, online education gives you the flexibility to study and learn on YOUR schedule.</p>
	<p>And these days, even top schools offer accredited online degree programs, including anything from AA and BA degrees, to Master’s degrees and PhD’s. And your options are dramatic when it comes to programs – healthcare, teaching, psychology, criminal justice, fire science, computer graphics and engineering, and on and on.</p>
	<p style="font-weight:bold">Study when and where you want to, by getting an online education. Fill out the form on this page. A school counselor may call you within 24 hours to help you find the right program for you and your busy lifestyle.</p>
			 

	<div class="well well-large">
		<p>Request program information by filling out the brief form on this page. You’ll receive a call from an experienced advisor who will guide you through the process of online education … with no obligation to enroll.</p>
	</div>

</div>