<div id="aboutUs" data-role="page" data-ajax="true" data-transition="pop" data-overlay-theme="c">
  <div data-role="header">
    <h2>About Us</h2>
  </div>
  <div data-role="content">
    <%= render '/shared/about_us' %>
  </div>	
  <div data-role="footer">
  </div>		
</div>

<div id="privacyPolicy" data-role="page" data-ajax="true" data-transition="pop" data-overlay-theme="c">
  <div data-role="header">
    <h2>Privacy Policy</h2>
  </div>
  <div data-role="content">
    <%= render '/shared/privacy_policy' %>
  </div>
  <div data-role="footer">
  </div>
</div>

<div id="contactUs" data-role="page" data-ajax="true" data-transition="pop" data-overlay-theme="c">
  <div data-role="header">
    <h2>Contact Us</h2>
  </div>
  <div data-role="content" >
    <%= render '/shared/contact_us' %>
  </div>
  <div data-role="footer">
  </div>
</div>
