<style>
.attribution {padding-left:40px; margin-bottom:30px;}
div#right_column_wrapper {
	background-color:white;
	padding:20px;
	z-index:3;
}
</style>

<div id="right_column_wrapper">
	
	<p>Earning a degree is a significant investment of your time and money; that’s why Kaplan University offers numerous opportunities for you to complete your degree faster and save money, too. Some of these include accelerated programs, credit for eligible prior training or work/life experience, and scholarships. We are committed to helping you pursue your goals and will support you from admission through graduation with a helpful team of advisors dedicated to guiding you to success.</p>

	<p>Kaplan University provides the quality education you want in a format designed to serve your needs—online, on your time.</p>		 
</div>

