<style>
	.attribution {padding-left:40px; margin-bottom:30px;}
	div#right_column_wrapper {
		background-color:white;
		z-index:3;
	}
	#right_column_wrapper h4 { color:black;font-size:24px; font-family: Helvetica; }
	#right_column_wrapper h4 span.subtitle { color:orange; font-size: 18px; }
	#right_column_wrapper div.embedded_list { 
		border-radius: 5px;
		background-color: blue; 
		margin-right:20px; 
		padding-top:20px;
		padding-bottom:20px;
		padding-left:20px;
		background: rgb(30,105,222); /* Old browsers */
		background: -moz-linear-gradient(left,  rgba(30,105,222,1) 0%, rgba(54,144,240,1) 33%, rgba(0,0,255,1) 71%, rgba(109,179,242,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(30,105,222,1)), color-stop(33%,rgba(54,144,240,1)), color-stop(71%,rgba(0,0,255,1)), color-stop(100%,rgba(109,179,242,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left,  rgba(30,105,222,1) 0%,rgba(54,144,240,1) 33%,rgba(0,0,255,1) 71%,rgba(109,179,242,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left,  rgba(30,105,222,1) 0%,rgba(54,144,240,1) 33%,rgba(0,0,255,1) 71%,rgba(109,179,242,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left,  rgba(30,105,222,1) 0%,rgba(54,144,240,1) 33%,rgba(0,0,255,1) 71%,rgba(109,179,242,1) 100%); /* IE10+ */
		background: linear-gradient(to right,  rgba(30,105,222,1) 0%,rgba(54,144,240,1) 33%,rgba(0,0,255,1) 71%,rgba(109,179,242,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e69de', endColorstr='#6db3f2',GradientType=1 ); /* IE6-9 */	
		}
	#right_column_wrapper div.embedded_list ul li {line-height:28px; font-size: 18px; color:orange;}
</style>

<div id="right_column_wrapper">
	<h4>Find a school <span class='subtitle'>that will help you ...</span></h4>
	<div class='embedded_list'>
	<ul>
		<li>Make a positive difference</li>
		<li>Enjoy your work</li>
		<li>Take charge of your future</li>
	</ul>
	</div>
	<p></p>
	<p>People just like you are getting degrees every day.</p>
</div>

