
<style type="text/css" media="screen">	
	div.school_logo {float:left; height:120px; width:200px overflow:hidden; padding-left:20px; }
	div.school_blerb {height:120px; overflow:hidden; padding-left:20px; padding-right:20px; margin-left:20px;}
</style>

<div class="school_logo">
	<!-- <%# image_tag "Everest/Everest_College_Logomark.jpeg" %> -->
	<%= image_tag("Kaplan/kaplan-university_120x120.jpg", :class=>'logomark_in_schools') %>
</div>
<div class="school_blerb">
	Kaplan University is a regionally accredited, leading provider of online higher education. We offer 170 online programs and degrees in a variety of fields. Rigorous curriculum is designed to provide you with the relevant skills to pursue your career and personal goals.† Faculty members are experienced practitioners within their fields and focus on real-world, practical skills. 

</div>

