<div class="jumbotron">
  <h1>Welcome!</h1>
  <p></p>
  <p>
    <%= link_to "Login", articles_path, :class => "btn btn-primary btn-lg", :role => "button" %>
    <%= link_to "W/o Login", articles_path, :class => "btn btn-primary btn-lg" %>
  </p>
</div>
