/* ———— color scheme ————————————————————————————————— */

/* ———— container ——————————————————— */

		$container-background-color: whiteSmoke;

/* ———— header —————————————————————— */

		$header-background-color: white; 
		$page-title-color: black;
		$page-subtitle-color: orange;
		$landing-page-title-color: black;
		$landing-page-title-background-color: white; 
	
	
/* ———— footer —————————————————————— */

		$footer-background-color: whiteSmoke;
		$footer-text-link-color: #3A87AD;  /* a dull blue used by Twitter Bootstrap for alerts */
	
	
/* ———— main row ———————————————————— */

/* ———— main row: landing page  ————— */

		$text-block-highlight-color: white;
		$text-color-in-highlighted-text-block: #5D5D5D;
		$highlighted-text-color-in-highlighted-text-block: blue;
	

/* ———— left-column ————————————————— */

		$left-column-background-color: whiteSmoke;


/* ———— right-column ———————————————— */

		$right-column-background-color: white; 
		$right-column-text-color: black;
		$right-column-link-color: blue;
	
	

/* ———— hero ———————————————————————— */


/* ———— form ———————————————————————— */

		$form-background-color: white;
		$form-border-color: blue; 
		$form-text-color: black;
	
		$button-color-continue: blue;
		$button-color-back: white;
		$button-color-submit: blue;



